body {
  font-family: "Arial", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}


/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

div.article-main {
  width: 75%;
  float: left
}

.article-main p {
  font-family: "Arial", Times, serif;
  font-size: 10px
}

.article-main article {
  margin: 20px
}

.article-main img {
  width: 100%;
  height: auto;
}

.article-main h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.article-main p {
  margin-top: 10px;
}

div.article-content {
  margin: 10px
}

div.aside-gallery {
  width: 25%;
  float: left
}

div.aside-gallery aside {
  margin: 20px
}

.aside-gallery h2 {
  margin-top: 10px
}

.aside-gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 30px
}

.footer-content {
  background-color: #ddd;
}
